<br />

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1 class="heading-color">Great Careers at Flixter!</h1>

  <ul class="ritaglio ">
   	<li class="has-list-style">
   		<h4>Lots of Interesting Work!!</h4>
   		<br />
   		<img class="career-snack-img" src="/assets/bad_working.jpg" alt="View of Working Conditions..." />
   	</li>

   	<li class="has-list-style">
   		<h4>Free Food! -- Great Snacks!</h4>
   		<br />
   		<img class="career-snack-img" src="/assets/snacks.jpg" alt="Wonderful Snacks" />
   	</li>
  </ul>
</div>