@font-face {
    font-family: 'spilt_inkregular';
    src: url('/assets/spilt-ink.woff2') format('woff2'),
         url('/assets/spilt-ink.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ritaglioregular';
    src: url('/assets/ritaglio.woff2') format('woff2'),
         url('/assets/ritaglio.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'fff_tusjbold';
    src: url('/assets/fff_tusj.woff2') format('woff2'),
         url('/assets/fff_tusj.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}