@import "bootstrap-sprockets";
@import "bootstrap";

/* paleTurquoise --- #afeeee */
/* coral -- #FF7F50 */
/* dark red crimson #FF0000 */
/* dark orange -- #FF8C00  */
/* fuchsia -- FF00FF */
/* floral white #FFFAF0 */
/* hot pink  #FF69B4 */
/* close to hot pink #E55EA2 (229,94,162) */
/* light grey #A99FA4 (169,159,164) */
/* white with red-pink #E3D7DD (227,215,221) */
/* dark grey color #E3D7DD (227,215,221) */

body {
  background: url('bg1.png');
  /* this is the chris coiyer font stack
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  /* am also using font squirrel fonts,.... */

}




h1, h2, h3, h4, h5, h6, .navbar {
	margin: 0;
}

.flixter-blue{
	color: #afeeee;
}

.flixter-blue-background{
	background-color: #afeeee;
}


.navbar {
	border-radius: 0;
	/* put in your font stuff.... */
	font-family: 'ritaglioregular', sans-serif;
  	font-size: 13pt;

	box-shadow: 0px 2px 4px #2a2a2a;
	background:url('woven.png');
	padding-top: 10px;
}

.navbar-inverse a.navbar-brand {
	/* put in your font stuff */
	font-family: 'spilt_inkregular', sans-serif;
	color: #afeeee;
	font-size: 45pt;
	text-shadow: 2px 2px 3px #FF00FF;
}

.hero {
	background: url('hero1.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height: 500px;
	box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty {
	
	background:rgba(0,0,0, 0.5);
	color: #E3D7DD;
}

.frosty h1 {
	font-family: 'archisticobold', sans-serif;
	/* text-shadow: rgba(0,0,0,0.95) 4px 4px; */
	text-shadow: rgba(229,94,162, 0.95) 3px 3px;
	font-size: 50pt;
}

.frosty span {
	  text-decoration: underline; 
	 /* border-bottom: 5px solid #E3D7DD; */
}

.frosty h2 {
  	font-family: 'archisticonormal', sans-serif;
 	/* text-shadow: rgba(0,0,0,0.95) 4px 4px; */
	text-shadow: rgba(229,94,162, 0.95) 3px 3px;
  	font-size: 35pt;
}

.frosty-font {
	font-family: 'archisticonormal', sans-serif;

	text-shadow: rgba(229,94,162, 0.95) 1px 1px;
  	font-size: 30pt;
}

.btn {
 border-radius:0;
 font-family: 'ritaglioregular', sans-serif;
 font-size: 12pt;
 box-shadow: 3px 3px 1px black;
}