@import "bootstrap-sprockets";
@import "bootstrap";

/* paleTurquoise --- #afeeee   flixter logo*/
/* slightly darker #96e9e9  */
/* color: #66c2ff;  flixter heading color */
/* coral -- #FF7F50 */
/* dark red crimson #FF0000 */
/* dark orange -- #FF8C00  */
/* fuchsia -- FF00FF */
/* floral white #FFFAF0 */
/* hot pink  #FF69B4 */
/* close to hot pink #E55EA2 (229,94,162) */
/* softer pink for headings ##ffb3d9 */
/* light grey #A99FA4 (169,159,164) */
/* white with red-pink #E3D7DD (227,215,221) */
/* dark grey color #E3D7DD (227,215,221) */
/* steel blue-grey used on buttons #337ab7 rgb 51 122 183 */
/* Dark Slate Blue -- DarkSlateBlue 	#483D8B */
/* Slate Blue -- SlateBlue 	#6A5ACD */

/* fonts we are using from squirrel font */
/* font-family: 'spilt_inkregular', sans-serif !important; */
/* font-family: 'ritaglioregular', sans-serif; */
/* */


body {
  background: url('bg1.png');
  /* this is the chris coiyer font stack https://css-tricks.com/snippets/css/font-stacks/ */
  /* Helvetica/Arial-based sans serif stack */
font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

  /* am also using font squirrel fonts,.... */

}




h1, h2, h3, h4, h5, h6, .navbar {
	margin: 0;
}

.flixter-blue{
	color: #afeeee;
}

.flixter-blue-background{
	background-color: #afeeee;
}


.navbar {
	border-radius: 0;
	/* put in your font stuff.... */
	font-family: 'ritaglioregular', sans-serif;
  	font-size: 13pt;

	box-shadow: 0px 2px 4px #2a2a2a;
	background:url('woven.png');
	padding-top: 10px;
}

.navbar-inverse a.navbar-brand {
	/* put in your font stuff */
	font-family: 'spilt_inkregular', sans-serif;
	color: #afeeee;
	font-size: 45pt;
	text-shadow: 2px 2px 3px #FF00FF;
}
.brand-text{
	font-family: 'spilt_inkregular', sans-serif;
	color: #afeeee;
	font-size: 45pt;
	text-shadow: 2px 2px 3px #FF00FF;
	
}



.hero {
	background: url('hero1.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height: 500px;
	box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty {
	
	background:rgba(0,0,0, 0.5);
	color: #E3D7DD;
}

.frosty h1 {
	font-family: 'archisticobold', sans-serif;
	/* text-shadow: rgba(0,0,0,0.95) 4px 4px; */
	text-shadow: rgba(229,94,162, 0.95) 3px 3px;
	font-size: 50pt;
}

.frosty span {
	  text-decoration: underline; 
	 /* border-bottom: 5px solid #E3D7DD; */
}

.frosty h2 {
  	font-family: 'archisticonormal', sans-serif;
 	/* text-shadow: rgba(0,0,0,0.95) 4px 4px; */
	text-shadow: rgba(229,94,162, 0.95) 3px 3px;
  	font-size: 35pt;
}

.frosty-font {
	font-family: 'archisticonormal', sans-serif;

	text-shadow: rgba(229,94,162, 0.95) 1px 1px;
  	font-size: 30pt;
}

.btn {
 border-radius:0;
 font-family: 'ritaglioregular', sans-serif;
 font-size: 12pt;
 box-shadow: 3px 3px 1px black;
} 

/* for device and logins... */
.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:10px;

  margin-top: 1%;
  padding-left: 100px;
}

.booyah-box h2, .booyah-box h1 {
  margin:15px;
}

.booyah-show-image{
	max-width:100%;
}

.booyah-show-image-instructor{
	max-width:25%;
}

.booyah-box h1{
	font-family: 'archisticonormal', sans-serif;
 	font-size: 48pt;
}

.booyah-box h2{
	font-family: 'archisticonormal', sans-serif;
 	font-size: 42pt;
}

.booyah-box h2 a:hover{
  text-decoration: none !important;	
}

.booyah-session-info{
	font-family: 'ritaglioregular', sans-serif;
 	font-size: 14pt;
}

.booyah-session-info-small{
	font-family: 'ritaglioregular', sans-serif;
 	font-size: 10pt;
}

.booyah-session-input{
	/* Helvetica/Arial-based sans serif stack */
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

 	font-size: 14pt;
 	font-weight: bold;
 	color: #6A5ACD;
}

.booyah-long-field{
	length: 500px;
}

h1.flixter-menu-heading-font{
	/* font-family: 'spilt_inkregular', sans-serif !important; */
	font-family: 'ritaglioregular', sans-serif;
	font-size: 57px;
	/* color: #afeeee;  */
	color: #66c2ff;  /* flixter heading color */
	text-shadow: 2px 2px 3px #ff80bf; /* softer pink */
	/* Dark Slate Blue -- DarkSlateBlue 	#483D8B */
	/* Slate Blue -- SlateBlue 	#6A5ACD */
}

.clr {
  clear:both;
}

.field_with_errors {
  font-family: 'ritaglioregular', sans-serif;
  font-size: 14pt;
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
  margin:10px;
}

/* course  index page styling */
.course-index-page-title-pic-unit, 
.course-index-page-description-button-unit{
	margin-bottom: 10px;
	padding-bottom: 10px;

}



booyah-show-course-title-index a:link {
    text-decoration: none;
}

booyah-show-course-title-index a:visited {
    text-decoration: none;
}

booyah-show-course-title-index a:hover {
    text-decoration: none;
}

booyah-show-course-title-index a:active {
    text-decoration: none;
}

/* course detail page styles*/
.course-show-heading{
	color: #337ab7;
}

.course-show-syllabus-heading{
	font-family: 'archisticonormal', sans-serif;
	/* color: #337ab7; */
	/* color: #96e9e9; */
	color: #66c2ff;  /* flixter heading color */
	/* text-shadow: rgba(229,94,162, 0.95) 2px 2px; */
	/* Dark Slate Blue -- DarkSlateBlue 	#483D8B */
	text-shadow: #483D8B 1px 1px;
  	font-size: 24pt;
}

.course-inspirational-msg{
	font-family: 'ritaglioregular', sans-serif;
	font-size: 24px;
	width: 800;
	padding-top: 12px;
	padding-right: 98px;
	color: #66c2ff;  /* flixter heading color */
	text-shadow: 1px 1px 2px #ff80bf; /* softer pink */
}

.course-show-right-pad{
	padding-right: 98px;
}

.course-section-styling{
    font-size: 17px;
    font-weight: bold;
	
}

.course-lesson-styling{
	font-weight: normal;
	font-weight: 80;
	font-size: 14px;
}
	



